@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Rubik:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ruthie&display=swap");

$text-primary: #ed557b;
$text-secondary: #a9a5a5;

@mixin flexprop {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: "Roboto", sans-serif;
  height: 100%;
  margin: 0;
  line-height: 1.5;
}

h1 {
  margin: 0;
}

.text-secondary {
  font-family: "Ruthie", cursive;
}

nav {
  height: 10vh;

  .brand-name {
    color: $text-primary;
    padding: 0.6em 0 0 0.6em;
  }
}

header {
  height: 100vh;
  background-image: url(/spa/images/bg_logom.jpg);
  background-position: left;
  background-size: 65%;
  background-repeat: no-repeat;

  main {
    height: 95vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    h1 {
      color: $text-primary;
      font-size: 2.8rem;
      font-family: "Rubik", sans-serif;
    }

    p {
      position: absolute;
      left: 80px;
      top: 705px;
      color: $text-secondary;
      font-size: 2rem;

      span {
        color: $text-primary;
        font-size: 2.8rem;
        font-weight: 600;
      }
    }
  }
}
