$text-primary: #ed557b;
$text-secondary: #a9a5a5;

// navbar
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5vh;

  .brand-name {
    color: $text-primary;
  }
}
