.services {
  height: 100vh;
  overflow: hidden;
  display: flex;
  //   align-items: center;

  h2 {
    margin: auto;
  }

  .curve_head {
    letter-spacing: 0.5rem;
    font-size: 5rem;
  }

  //   .services-nav {
  //     background-color: #e76f51;
  //     width: 40%;
  //     height: 50vh;
  //   }
  //   .pricing {
  //     display: flex;
  //     align-items: flex-start;
  //     justify-content: space-evenly;
  //   }

  //   .accordion:hover .accordion-item:hover .accordion-item-content,
  //   .accordion .accordion-item--default .accordion-item-content {
  //     height: 6em;
  //   }

  //   .accordion-item-content,
  //   .accordion:hover .accordion-item-content {
  //     height: 0;
  //     overflow: hidden;
  //     transition: height 0.25s;
  //   }

  //   .columns_pricing {
  //     width: 20%;
  //   }

  //   h3 {
  //     color: #6a5d5d;
  //     // color: #febea1;     --> might need in future
  //     text-align: center;
  //     text-transform: lowercase;
  //     font-size: 2rem;
  //     letter-spacing: 0.5rem;
  //   }

  //   ul {
  //     display: flex;
  //     flex-direction: column;
  //     justify-content: space-evenly;
  //   }

  //   li {
  //     display: flex;
  //     justify-content: space-between;
  //     padding: 2px;
  //     margin: 0.8rem;
  //     list-style: none;
  //     border-left: 5px solid #55e8ed;
  //     // border-radius: 5px;
  //     // color: #6a5d5d;
  //     text-transform: lowercase;
  //     // box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  //     //   0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
  //     //   0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  //     //   0 100px 80px rgba(0, 0, 0, 0.12);

  //     // box-shadow: 0 7px 10px #f073926b;
  //     // box-shadow: 0 7px 10px #a19c9d6b;
  //   }

  //   li:hover {
  //     background-color: #55e8ed;
  //   }

  //   span {
  //     color: #6a5d5d;
  //   }
}
